[submodule ".registry"]
	path = .registry
	url = https://github.com/pik-piam/pik-piam.r-universe.dev
	branch = HEAD
[submodule "GDPuc"]
	path = GDPuc
	url = https://github.com/pik-piam/GDPuc
[submodule "HARr"]
	path = HARr
	url = https://github.com/pfuehrlich-pik/HARr
[submodule "MagpieNCGains"]
	path = MagpieNCGains
	url = https://github.com/pik-piam/MAgPIENCGains
[submodule "SPARQL"]
	path = SPARQL
	url = https://github.com/cran/SPARQL
[submodule "blackmagicc"]
	path = blackmagicc
	url = https://github.com/pik-piam/blackmagicc
[submodule "brick"]
	path = brick
	url = https://github.com/pik-piam/brick
[submodule "citation"]
	path = citation
	url = https://github.com/pik-piam/citation
[submodule "demystas"]
	path = demystas
	url = https://github.com/pik-piam/demystas
[submodule "edgeTransport"]
	path = edgeTransport
	url = https://github.com/pik-piam/edgeTransport
[submodule "edgeTrpLib"]
	path = edgeTrpLib
	url = https://github.com/pik-piam/edgeTrpLib
[submodule "gdx"]
	path = gdx
	url = https://github.com/pik-piam/gdx
[submodule "gdxrrw"]
	path = gdxrrw
	url = https://github.com/GAMS-dev/gdxrrw
	subdir = gdxrrw
[submodule "gms"]
	path = gms
	url = https://github.com/pik-piam/gms
[submodule "goxygen"]
	path = goxygen
	url = https://github.com/pik-piam/goxygen
[submodule "iamc"]
	path = iamc
	url = https://github.com/IAMconsortium/iamc
[submodule "limes"]
	path = limes
	url = https://github.com/pik-piam/limes
[submodule "lpjclass"]
	path = lpjclass
	url = https://github.com/pik-piam/lpjclass
[submodule "lpjmlkit"]
	path = lpjmlkit
	url = https://github.com/PIK-LPJmL/lpjmlkit
[submodule "lpjmlstats"]
	path = lpjmlstats
	url = https://github.com/PIK-LPJmL/lpjmlstats
[submodule "lucode2"]
	path = lucode2
	url = https://github.com/pik-piam/lucode2
[submodule "luplot"]
	path = luplot
	url = https://github.com/pik-piam/luplot
[submodule "luscale"]
	path = luscale
	url = https://github.com/pik-piam/luscale
[submodule "lusweave"]
	path = lusweave
	url = https://github.com/pik-piam/lusweave
[submodule "m4fsdp"]
	path = m4fsdp
	url = https://github.com/pik-piam/m4fsdp
[submodule "madrat"]
	path = madrat
	url = https://github.com/pik-piam/madrat
[submodule "magclass"]
	path = magclass
	url = https://github.com/pik-piam/magclass
[submodule "magpie4"]
	path = magpie4
	url = https://github.com/pik-piam/magpie4
[submodule "magpiesets"]
	path = magpiesets
	url = https://github.com/pik-piam/magpiesets
[submodule "mip"]
	path = mip
	url = https://github.com/pik-piam/mip
[submodule "modelstats"]
	path = modelstats
	url = https://github.com/pik-piam/modelstats
[submodule "mrcommons"]
	path = mrcommons
	url = https://github.com/pik-piam/mrcommons
[submodule "mrdieter"]
	path = mrdieter
	url = https://github.com/pik-piam/mrdieter
[submodule "mrdrivers"]
	path = mrdrivers
	url = https://github.com/pik-piam/mrdrivers
[submodule "mredgebuildings"]
	path = mredgebuildings
	url = https://github.com/pik-piam/mredgebuildings
[submodule "mrfable"]
	path = mrfable
	url = https://github.com/pik-piam/mrfable
[submodule "mrfactors"]
	path = mrfactors
	url = https://github.com/pik-piam/mrfactors
[submodule "mrfeed"]
	path = mrfeed
	url = https://github.com/pik-piam/mrfeed
[submodule "mrfish"]
	path = mrfish
	url = https://github.com/pik-piam/mrfish
[submodule "mrland"]
	path = mrland
	url = https://github.com/pik-piam/mrland
[submodule "mrmagpie"]
	path = mrmagpie
	url = https://github.com/pik-piam/mrmagpie
[submodule "mrorganic"]
	path = mrorganic
	url = https://github.com/tscheypidi/mrorganic
[submodule "mrremind"]
	path = mrremind
	url = https://github.com/pik-piam/mrremind
[submodule "mrsoil"]
	path = mrsoil
	url = https://github.com/pik-piam/mrsoil
[submodule "mrtransport"]
	path = mrtransport
	url = https://github.com/pik-piam/mrtransport
[submodule "mrtutorial"]
	path = mrtutorial
	url = https://github.com/pik-piam/mrtutorial
[submodule "mrvalidation"]
	path = mrvalidation
	url = https://github.com/pik-piam/mrvalidation
[submodule "mrvalidnitrogen"]
	path = mrvalidnitrogen
	url = https://github.com/pik-piam/mrvalidnitrogen
[submodule "mrwaste"]
	path = mrwaste
	url = https://github.com/pik-piam/mrwaste
[submodule "mrwater"]
	path = mrwater
	url = https://github.com/pik-piam/mrwater
[submodule "mrwaterplots"]
	path = mrwaterplots
	url = https://github.com/pik-piam/mrwaterplots
[submodule "mstools"]
	path = mstools
	url = https://github.com/pik-piam/mstools
[submodule "piamInterfaces"]
	path = piamInterfaces
	url = https://github.com/pik-piam/piamInterfaces
[submodule "piamModelTests"]
	path = piamModelTests
	url = https://github.com/pik-piam/piamModelTests
[submodule "piamPlotComparison"]
	path = piamPlotComparison
	url = https://github.com/pik-piam/piamPlotComparison
[submodule "piamValidation"]
	path = piamValidation
	url = https://github.com/pik-piam/piamValidation
[submodule "piamenv"]
	path = piamenv
	url = https://github.com/pik-piam/piamenv
[submodule "piamutils"]
	path = piamutils
	url = https://github.com/pik-piam/piamutils
[submodule "piktests"]
	path = piktests
	url = https://github.com/pik-piam/piktests
[submodule "quitte"]
	path = quitte
	url = https://github.com/pik-piam/quitte
[submodule "r2databus"]
	path = r2databus
	url = https://github.com/pik-piam/r2databus
[submodule "rOpenscmRunner"]
	path = rOpenscmRunner
	url = https://github.com/pik-piam/rOpenscmRunner
[submodule "regressionworlddata"]
	path = regressionworlddata
	url = https://github.com/pik-piam/regressionworlddata
[submodule "remind2"]
	path = remind2
	url = https://github.com/pik-piam/remind2
[submodule "remulator"]
	path = remulator
	url = https://github.com/pik-piam/remulator
[submodule "reportbrick"]
	path = reportbrick
	url = https://github.com/pik-piam/reportbrick
[submodule "reporttransport"]
	path = reporttransport
	url = https://github.com/pik-piam/reporttransport
[submodule "rmndt"]
	path = rmndt
	url = https://github.com/pik-piam/rmndt
[submodule "shinyresults"]
	path = shinyresults
	url = https://github.com/pik-piam/shinyresults
[submodule "trafficlight"]
	path = trafficlight
	url = https://github.com/pik-piam/trafficlight
